
<div class="gramWrapper" ng-repeat = "gram in gramResults">


    <div class="gram_content_wrapper">
      <div class="gram_header_wrapper">
        <div class="gram_text_content">


            <div class="gram_text_wrapper">
              <img class="user_avatar" ng-src="{{gram.avatar_url}}" alt="">
                  <p class="user_id">
              {{gram.name}}
            </p>
            <p class="user_id">
              {{gram.date | date:"MM/dd/yyyy @ h:mma"}}
            </p>
            </div>
            <div class="">
              <img ng-click = "upvote(gram._id)" class="like_button" ng-src="/images/like.png" alt="">
              <p>{{gram.count}}</p>
            </div>

        </div>
        <div class="gram_timeline_wrapper">
            <img class="gram_timeline" ng-src="{{gram.url}}" alt="">
        </div>

        <p class="gram_footer_text_content">
          {{gram.caption}}

        </p>


      </div>
    </div>

</div>

<footer class="footer">
    <div class="container footer_wrapper">
      <div class="footer_icons">
        <i ui-sref="grams" class="fa fa-home" aria-hidden="true"></i>
        <i ui-sref="postGram" class="fa fa-plus-square" aria-hidden="true"></i>
        <i ui-sref="profile" class="fa fa-user-o" aria-hidden="true"></i>
      </div>

  </div>
</footer>
