<input class="u-full-width" type="text" name="" placeholder="Choose User Name">
<input class="u-full-width" type="password" name="" placeholder="Type Password Here">
<input class="u-full-width" type="password" name="" placeholder="Re-enter Password for verification">
<input class="u-full-width" type="email" placeholder="Email Address">
<input class="u-full-width" type="text" name="" placeholder="Make">
<input class="u-full-width" type="text" name="" placeholder="Model">
<input class="u-full-width" type="text" name="" placeholder="Year">
