<form class="form" ng-submit="submitSeller()">
  <input class="u-full-width" ng-model = "user_id" type="text" name="" placeholder="Choose User Name">
  <input class="u-full-width" ng-model = "password1" type="password" name="" placeholder="Type Password Here">
  <input class="u-full-width" ng-model = "password2" type="password" name="" placeholder="Confirm Password">
  <input class="u-full-width" ng-model = "email" type="email" placeholder="Email Address">
  <input class="u-full-width" ng-model = "make" type="text" name="" placeholder="Make">
  <input class="u-full-width" ng-model = "model" type="text" name="" placeholder="Model">
  <input class="u-full-width" ng-model = "year" type="text" name="" placeholder="Year">
  <input class="u-full-width" ng-model = "mileage" type="text" name="" placeholder="Mileage:">
  <input class="u-full-width" ng-model = "location" type="text" name="" placeholder="Your zipcode">
  <input class="u-full-width" ng-model = "sales_price" type="text" name="" placeholder="Set your sales price">
  <input class="u-full-width" ng-model = "photos" type="text" name="" placeholder="Upload photos">
  <!-- <input class="u-full-width" ng-model = "avatar_url" type="text" name="" placeholder="Choose your avatar">    -->
  <button class="button" type="submit">Submit</button>
</form>
