<div class="home">
  <div class="signup_wrapper">
    <div class="signup_contents">
      <form class="form" ng-submit="submitUser()">
        <input class="u-full-width" ng-model = "user_id" type="text" name="" placeholder="Choose User Name">
        <input class="u-full-width" ng-model = "password1" type="password" name="" placeholder="Type Password Here">
        <input class="u-full-width" ng-model = "password2" type="password" name="" placeholder="Confirm Password">
        <input class="u-full-width" ng-model = "email" type="email" placeholder="Email Address">
        <!-- <input class="u-full-width" ng-model = "avatar_url" type="text" name="" placeholder="Choose your avatar">    -->
        <div class="signup_button">
        <button class="button " type="submit">Submit</button>
        </div>

      </form>
    </div>

  </div>
</div>
