<form name="form">
  <!-- Single Image with validations -->

  <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-capture="'camera'" ngf-max-size="10MB" ngf-resize="{width: 1080, height: 1080, quality: 1.0}"
    >Select Image</div>

    <div ng-show="file" class="upload_container">
      <img class="thumbnail" ngf-thumbnail="file">
      <input class="u-full-width" ng-model="caption" type="text" name="" placeholder = "Caption this photo">
        <button class="button" type="submit" ng-click="submit()">Post</button>
    </div>

  <!-- Multiple files -->
  <!-- <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div> -->
  <!-- Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div> -->

</form>

<footer class="footer" >
    <div class="container footer_wrapper">
      <div class="footer_icons">
        <i ui-sref="grams" class="fa fa-home" aria-hidden="true"></i>
        <i ui-sref="postGram" class="fa fa-plus-square" aria-hidden="true"></i>
        <i ui-sref="profile" class="fa fa-user-o" aria-hidden="true"></i>
      </div>

  </div>
</footer>
