body {
  margin: 0;
  padding: 0;
  background-color: #506d9b;
  color: white;
}

.home{
  display: flex;
  justify-content: center;

}

.button{
  background-color: lightgrey;
}

.main_nav{
  background-color: lightgrey;
  font-family: 'BioRhyme', serif;
  margin-bottom: 3em;
  padding-top: 0;
}
.main_nav h3{display: inline-block;padding: .7em;margin: 0;font-size: 3em;}

.main_nav a{
  text-decoration: none;
  color: white;
  display: inline-block;
}

.home_wrapper{
  display: flex;
  width: 30em;
  height: 30em;
  flex-direction: column;
  align-items: center;
  font-family: 'BioRhyme', serif;
  /*font-size: 4em;*/
  border: solid .2em white
}

.home_title{
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  text-align: center;
  margin-top: 2em;
}

/*listings*/

.user_avatar{
  width: 3em;
  height: 3em;
  border: solid .1em white;
  border-radius: 4px;
  background-color: lightgrey;
}
.gram_timeline_wrapper{
    width: 30em;
    height: 30em;
    display: flex;
    align-items: center;
    border: solid .1em white;
    border-radius: 4px;
    background-color: lightgrey;
    overflow: hidden;

}
.gram_timeline{

  width: 100%
}

.img_icon{
  width: 55px;
  margin-left: 1em;
  display: inline-block;
}

.user_id{
  margin-left: 1em;
}

.gram_text_wrapper{
  display: flex;
  justify-content: space-between;
}

.gramWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gram_content_wrapper{

}

.gram_text_content{
  width: 30em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.gram_header_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.signup_wrapper{
  width: 30em;
  height: 30em;
  display: flex;
  justify-content: center;
  border: solid .2em white;
}

.signup_contents{
  margin-top: 2em;
}

.signup_button{
  display: flex;
  justify-content: center;
}
