body {
  margin: 0;
  padding: 0;
  background-color: #506d9b;
  color: white;
}

/*listings*/

.listingWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listing_header_wrapper {
  display: flex;
  justify-content: center;
}
