body {
  margin: 0;
  padding: 0;
  padding-top: 10em;
  background-color: #506d9b;
  color: white;
}

.home{
  display: flex;
  justify-content: center;

}

.button{
  background-color: lightgrey;
}

.main_nav{
  background-color: lightgrey;
  font-family: 'BioRhyme', serif;
  padding-top: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /*height: 7em;*/
  z-index:1;

}
.main_nav h3{display: inline-block;padding: .7em;margin: 0;font-size: 3em;}

.main_nav a{
  text-decoration: none;
  color: white;
  display: inline-block;
}

.logo{
  padding-top: 0;
  background-color: lightgrey;

}

.home_wrapper{
  display: flex;
  width: 65em;
  height: 65em;
  flex-direction: column;
  align-items: center;
  font-family: 'BioRhyme', serif;
  /*font-size: 4em;*/
  border: solid .2em white
}

.home_title{
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  text-align: center;
  margin-top: 2em;
}

/*listings*/

.user_avatar{
  width: 6em;
  height: 6em;
  border: solid .1em white;
  border-radius: 4px;
  background-color: lightgrey;
}
.gram_timeline_wrapper{
    width: 65em;
    height: 65em;
    display: flex;
    align-items: center;
    border: solid .1em white;
    border-radius: 4px;
    background-color: lightgrey;
    overflow: hidden;

}
.gram_timeline{
  width: 100%
}

.img_icon{
  width: 55px;
  margin-left: 1em;
  display: inline-block;
}

.user_id{
  margin-left: 1em;
  font-size: 2.1em;
}

.gram_text_wrapper{
  display: flex;
  justify-content: space-between;
}

.gramWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*position: relative;*/


}

.gram_content_wrapper{

}

.gram_text_content{
  width: 65em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.gram_header_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.signup_wrapper{
  width: 65em;
  height: 65em;
  display: flex;
  justify-content: center;
  border: solid .2em white;
}

.signup_contents{
  margin-top: 2em;
}

.signup_button{
  display: flex;
  justify-content: center;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: lightgrey;
  height: 7em;
  width: 100%;
}

.footer_wrapper {
  display: flex;
  justify-content: center;
  width: 65em;
  align-items: center;
}

.footer_icons {
  width: 65em;
  display: flex;
  justify-content: space-between;
  color: #506d9b;
  font-size: 3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: .5em;
}
